// body {
//   background-color: red;
// }
//
.wrapper {
  background-color: #333;
}

.myred {
  background-color: red;
}

.myblue {
  background-color: blue;
}

.mygreen {
  background-color: green;
}

.float-right {
  float: right;
}
// move this to menu_top
header#web-header {
  background-color: #aaa;
  height: auto;
  width: 100%;
}
//
// footer {
//   background-color: green;
// }
